<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @comment.commenter %>
</p>

<p>
  <strong>Message:</strong>
  <%= @comment.body %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
